@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: #232c2b;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

h1.section-title {
  width: fit-content;
  margin: 0 auto 51px;
  position: relative;
  color: #0e233e;
  font-family: emoji;
}
h1.section-title:after {
  content: "";
  position: absolute;
  border: 2px solid #6d7789;
  width: 70%;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.swal2-title {
  font-size: 2rem;
}

.swal2-popup {
  font-size: 1.5rem;
}

.swal2-styled.swal2-confirm {
  padding: 0.8rem 2rem;
  font-size: 2rem;
}

label.UploadLabel {
  padding: 6px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  display: table-cell;
  cursor: pointer;
}

input[type=file] {
  display: none;
}

.card {
  flex-direction: inherit;
}

.main-background {
  background-color: #2b3454 !important;
  color: #fff !important;
}

.color-main {
  color: #2b3454 !important;
}

.main-gradient-background {
  color: #fff;
  background: #2b3454 !important;
  background: -moz-linear-gradient(-45deg, #2b3454 0%, #6896e9 100%) !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #2b3454), color-stop(100%, #6896e9)) !important;
  background: -webkit-linear-gradient(-45deg, #2b3454 0%, #6896e9 100%) !important;
  background: -o-linear-gradient(-45deg, #2b3454 0%, #6896e9 100%) !important;
  background: -ms-linear-gradient(-45deg, #2b3454 0%, #6896e9 100%) !important;
  background: -webkit-linear-gradient(315deg, #2b3454 0%, #6896e9 100%) !important;
  background: -o-linear-gradient(315deg, #2b3454 0%, #6896e9 100%) !important;
  background: linear-gradient(135deg, #2b3454 0%, #6896e9 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $main-color , endColorstr= $second-color, GradientType=1 ) !important;
}

footer {
  background: #243141;
  color: #fff;
  padding-top: 30px;
}
footer .principal-footer {
  display: flex;
  justify-content: space-around;
}
footer .principal-footer .infos div span {
  display: block;
  padding: 6px 28px;
}
footer .principal-footer .infos div span.R-S a {
  font-size: 45px;
  margin-right: 17px;
}
footer .principal-footer .links h1 {
  font-size: 1.9em;
  text-align: center;
}
footer .principal-footer .links ul {
  list-style: none;
  margin-top: 20px;
  display: block;
  font-size: 0.9em;
  margin-bottom: 23px;
}
footer .principal-footer .links ul li {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
footer .principal-footer .developer {
  display: flex;
  align-items: center;
}
footer .principal-footer .developer div > span {
  display: block;
  /* width: 100%; */
}
footer .principal-footer .developer div > span span {
  color: #c3deff;
  font-weight: 700;
  font-size: 0.9em;
}
footer .footer-foot {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #18202b;
}
footer .footer-foot p {
  font-size: 0.8em;
  letter-spacing: 1.5px;
}
@media only screen and (max-width: 880px) {
  footer .infos img {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 620px) {
  footer .principal-footer {
    display: block;
  }
  footer .principal-footer .infos {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #b1b1b1;
    margin: 0 5px 20px;
  }
  footer .principal-footer .infos span.R-S {
    display: flex;
    justify-content: center;
  }
  footer .principal-footer .links {
    border-bottom: 2px solid #b1b1b1;
    margin: 0 5px 20px;
    padding-bottom: 13px;
  }
  footer .principal-footer .developer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
  }
  footer .footer-foot {
    font-size: 12px;
  }
}

body {
  background-color: #fafafa;
}

main {
  margin-top: 90px !important;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.sidebar {
  transition: width 300ms;
  width: 305px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  border-right: 7px solid #fff;
  box-shadow: 2px 0 10px #ddd;
}
.sidebar span#msg-nbr {
  /* margin-left: 12px; */
  width: 19px;
  height: 19px;
  background: #ff6767;
  /* display: inline-block; */
  text-align: center;
  border-radius: 50%;
  /* margin-bottom: -12px; */
  position: absolute;
  top: -9px;
  left: 19px;
}
.sidebar a.active span#msg-nbr {
  top: 2px;
}
.sidebar .sidebar-brand {
  height: 90px;
  padding: 1rem 0 1rem 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .sidebar-brand img {
  height: 80px;
  width: 164px;
  margin-left: -16px;
  margin-top: 70px;
  margin-bottom: 31px;
}
.sidebar .sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}
.sidebar .sidebar-menu {
  margin-top: 3rem;
}
.sidebar .sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}
.sidebar .sidebar-menu a {
  padding-left: 1rem;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
.sidebar .sidebar-menu a span.icone {
  font-size: 1.5em;
}
.sidebar .sidebar-menu a span.list {
  margin-left: 10px;
}
.sidebar .sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #2b3454;
  border-radius: 30px 0 0 30px;
  position: relative;
}
.sidebar .sidebar-menu a.active:before {
  content: "";
  position: absolute;
  background: #2b3454;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
  z-index: 100;
  border-bottom-right-radius: 20px;
}
.sidebar .sidebar-menu a.active b:first-child {
  position: absolute;
  background: #fff;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
}
.sidebar .sidebar-menu a.active b:last-of-type {
  position: absolute;
  background: #fff;
  height: 20px;
  width: 100%;
  bottom: -20px;
  left: 0;
}
.sidebar .sidebar-menu a.active:after {
  content: "";
  position: absolute;
  background: #2b3454;
  height: 20px;
  width: 100%;
  bottom: -20px;
  left: 0;
  border-top-right-radius: 20px;
}

.main-content {
  transition: margin-left 300ms;
  margin-left: 314px;
}
.main-content header {
  transition: left 300ms;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 314px;
  width: calc(100% - 314px);
  top: 0;
  z-index: 100;
}
.main-content header h2 {
  color: #222;
}
.main-content header h2 label span {
  font-size: 2.7rem;
  padding-left: 1rem;
}
.main-content header .search-wrapper {
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
}
.main-content header .search-wrapper span {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.5rem;
}
.main-content header .search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.main-content header .user-wrapper {
  display: flex;
  align-items: center;
}
.main-content header .user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}
.main-content header .user-wrapper h4 {
  margin-bottom: 0;
}
.main-content header .user-wrapper small {
  display: inline-block;
  color: #8390A2;
}

#nav-toggle {
  display: none;
}
#nav-toggle:checked + .sidebar {
  width: 70px;
}
#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar li a {
  padding-left: 0;
  display: block;
}
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}
#nav-toggle:checked + .sidebar .sidebar-brand {
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child {
  display: none;
}
#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

span.show-absolute {
  display: inline-block;
  padding: 4px 10px;
  background: #5291e8;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.absolute-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.7803921569);
  z-index: 3000;
  display: none;
  justify-content: center;
  align-items: center;
}
.absolute-container .add-form {
  width: 900px;
  padding: 32px;
  background: #f4f4f4;
  position: relative;
}
.absolute-container .add-form .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 42px;
  font-weight: 700;
}
.absolute-container .add-form h3 {
  color: #888;
  margin: 0 0 28px;
}
.absolute-container .add-form form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.absolute-container .add-form form .buttons {
  display: flex;
  width: 96%;
  justify-content: flex-end;
}
.absolute-container .add-form form .buttons button:first-of-type {
  margin-right: 7px;
  background-color: #2b3454;
}
.absolute-container .add-form form .mb-3.input {
  width: 46%;
}
.absolute-container .add-form form .mb-3.input input#ColorInput {
  width: 68px;
  padding: 4px;
  display: inline-block;
}
.absolute-container .add-form form .mb-3.input span.add-color {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  background: #2b3454;
  padding: 4px;
  line-height: 19px;
  position: relative;
  top: -4px;
  border-radius: 4px;
  cursor: pointer;
}
.absolute-container .add-form form .mb-3.text-area {
  width: 96%;
  margin-top: 14px;
}
.absolute-container .add-form form .mb-3.text-area textarea {
  height: 120px;
}

button.tabledit-edit-button.btn.btn-sm.btn-default {
  background: #a9e852;
  color: #fff;
}

button.tabledit-delete-button.btn.btn-sm.btn-default {
  background: #ff8e8e;
  color: #fff;
}

.table-container {
  background: #fff;
  padding: 20px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button.tabledit-edit-button.btn.btn-sm.btn-default {
  margin-right: 5px;
}

th span {
  color: #9a9a9a;
  font-weight: 500;
  margin-left: 7px;
}

/*# sourceMappingURL=tables_style.css.map */
